.btn-secondary {
  background-color: orange;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 8px 16px;
}
.btn-secondary:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.container-header {
  height: 70%;
}

header {
  background-color: #ffffff;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-size: 22px;
}

.titolo-sfondo {
  background: linear-gradient(45deg, #0D47A1, #1E68D1, #3C8ED1);
  font-family: 'Roboto', sans-serif;
  height: 200px;
}

header h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.nav-link {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.nav-link:hover {
  transform: scale(1.1);
}

.fotoTitolo {
  max-width: 100%;
  height: auto;
  max-width: 300px;
  transition: transform 0.5s ease-in-out, box-shadow 0.3s ease-in-out;
  animation: fadeInScale 1s ease-out, subtleSwing 3s infinite alternate ease-in-out;
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.8) rotate(-10deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}

@keyframes subtleSwing {
  0%, 100% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
}

@media (max-width: 768px) {
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }

  header {
    padding: 10px;
  }

  .fotoTitolo {
    max-width: 150px;
  }

  .navbar-toggler {
    background-color: #fff;
  }

  .navbar-collapse {
    width: 100%;
    text-align: center;
  }

  .nav-link {
    font-size: 14px;
    padding: 10px 0;
  }

  .dropdown-menu {
    width: 200px;
  }

  .dropdown {
    margin-left: 10px;
  }
}

@media (max-width: 992px) {
  .fotoTitolo {
    max-width: 250px;
  }

  header {
    padding: 15px;
  }

  .nav-link {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .fotoTitolo {
    max-width: 120px;
  }

  header {
    padding: 8px;
  }

  .nav-link {
    font-size: 12px;
    padding: 8px 0;
  }

  .navbar-toggler {
    font-size: 18px;
  }

  .dropdown-menu {
    width: 180px;
  }
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-width: 150px;
}

.dropdown-button {
  cursor: pointer;
}

button {
  background: none;
  border: none;
  color: white;
  padding: 8px 16px;
  font-size: 16px;
}

.dropdown.show .dropdown-menu {
  display: block;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
