@import "./css/front-page-da_sapere.component.css";
@import "./css/front-page-title.component.css";
@import "./css/front-page-carosello.component.css";
.btn-secondary {
  background-color: orange;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transizione per zoom e ombra */
}

.btn-secondary:hover {
  transform: scale(1.1); /* Zoom al 110% al passaggio del mouse */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); /* Ombra al passaggio del mouse */
}
