body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
}

.card-container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.btn{
  background-color: #e1981e;
}

.col-md-4 {
  flex-basis: 33.33%;
  padding: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

#login-form {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#login-form label {
  font-weight: bold;
  margin-bottom: 10px;
}

#login-form input[type="text"], #login-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#login-form button[type="submit"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #337ab7;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#login-form button[type="submit"]:hover {
  background-color: #e1981e;
}

@media (max-width: 768px) {
  .col-md-4 {
    flex-basis: 100%;
  }
}

@media (max-width: 480px) {
  header {
    padding: 10px;
  }
  header h1 {
    font-size: 18px;
  }
  nav ul {
    flex-direction: column;
  }
  nav li {
    margin-bottom: 10px;
  }
  .dropdown {
    margin-left: 0;
  }
  .container-registrazione {
    margin: 20px auto;
    padding: 10px;
  }
  .container-header {
    margin: 20px auto;
    padding: 10px;
  }
  #login-form {
    padding: 10px;
  }
}

.card-header {
  text-align: center;
  margin-bottom: 20px;
}

.card-title {
  font-size: 2em;
  font-weight: bold;
  color: black;
  margin-bottom: 5px;
}

.card-expansion {
  font-size: 1em;
}

.card-game{
  color: #403e3e;
  margin-top: 0;
}

.card-section {
  border: none;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 80%;
  margin: 20px auto;
}

.card-image img {
  height: auto;
  width: 250px;
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-info {
  border: none;
  padding: 20px;
}

.info-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
  color: #333;
}

.card-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.tag {
  background-color: #ff4d4d;
  color: white;
  padding: 5px 12px;
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.info-subtitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #555;
}

.card-description {
  font-size: 1rem;
  padding: 0 10px;
}

.card-price-buttons {
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.card-price {
  font-size: 3rem;
  font-weight: bold;
  color: #333;
}

.card-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  align-items: center;
}

.card-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  max-width: 200px;
}

.card-button.buy {
  background-color: #28a745;
}

.card-button.exchange {
  background-color: #17a2b8;
}

.card-button:hover {
  opacity: 0.9;
}
